.title {
  font-weight: 500;
}

.subtitle {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm);
  text-align: center;
  margin-top: 5px;
}

.authPaper {
  padding: 22px;
}

@media (max-width: 36em) {
  .authPaper {
    background: transparent;
    border: 0;
    box-shadow: none;
    padding: 0;
  }
}
