.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.title {
    font-family: Outfit, var(--mantine-font-family);
    font-weight: 500;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;

    @media (max-width: 48em) {
        font-size: 28px;
        text-align: left;
    }
}

.description {
    text-align: center;

    @media (max-width: 48em) {
        text-align: left;
    }
}